<%= form_for [theater, review] do |f| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rating, "1" %>
    <%= f.radio_button(:rating, 1) %>
    <%= f.label :rating, "2" %>
    <%= f.radio_button(:rating, 2) %>
    <%= f.label :rating, "3" %>
    <%= f.radio_button(:rating, 3) %>
    <%= f.label :rating, "4" %>
    <%= f.radio_button(:rating, 4) %>
    <%= f.label :rating, "5" %>
    <%= f.radio_button(:rating, 5) %>
  </div>

  <div class="field">
    <%=f.label :body, "New Review" %>
    <%=f.text_field :body %><br>
  </div>

  <div class="actions">
    <%= f.submit "Add Review"%>
  </div>

<% end %>
