<%= form_for(theater, html: {:multipart => true }) do |f| %>
  <% if theater.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(theater.errors.count, "error") %> prohibited this theater from being saved:</h2>

      <ul>
      <% theater.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%=f.text_field :name %><br>

    <%= f.label :address %>
    <%=f.text_field :address %><br>

    <%= f.label :city %>
    <%=f.text_field :city %><br>

    <%= f.label :state %>
    <%=f.text_field :state %><br>

    <%= f.label :zip %>
    <%=f.text_field :zip %><br><br />

    <% if theater.image_url %>
      <%= image_tag(theater.image_url) %> <br />
      <%= f.hidden_field :image_cache %>
      <p>
        <b> <%= f.label :remove_image, "Remove Image" %> </b>
        <%= f.check_box :remove_image %>
      </p>
    <% end %><br />

    <b> <%= f.label :image, "Add Image File:"%> </b><br /><br />
    <%= f.file_field :image %>

    <p>
      <b> <%= f.label :remote_image_url, "Or image URL:" %> </b><br /><br />
      <%= f.text_field :remote_image_url %>
    </p>
  </div>

  <br />

  <div class="actions">
    <%= f.submit "+"%>
  </div><br /><br />

<% end %>
