<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a Theater</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="theaterform.css">
  </head>
  <body>
    <%= form_for(theater, html: {:multipart => true }) do |f| %>
      <% if theater.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(theater.errors.count, "error") %> prohibited this theater from being saved:</h2>

          <ul>
            <% theater.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class= "form">
        <div class="field">
          <%= f.label :name, class:"label" %>
          <%= f.text_field :name, class:"input"  %><br>

          <%= f.label :address, class:"label" %>
          <%= f.text_field :address, class:"input"  %><br>

          <%= f.label :city, class:"label" %>
          <%= f.text_field :city, class:"input"  %><br>

          <%= f.label :state, class:"label" %>
          <%= f.text_field :state, class:"input"  %><br>

          <%= f.label :zip, class:"label" %>
          <%=f.text_field :zip, class:"input" %><br><br /><br />
        <div class="theaterimage">
          <% if theater.image_url %>
            <%= image_tag(theater.image_url) %>
            <%= f.hidden_field :image_cache %>
        </div>
        <div class="imageinfo">
            <p>
              <b> <%= f.label :remove_image, "Remove Image" %> </b>
              <%= f.check_box :remove_image %>
            </p>
          <% end %>
          <b> <%= f.label :image, "Add Image File:"%> </b>
          <%= f.file_field :image %>
          <p>
            <b> <%= f.label :remote_image_url, "Or image URL:" %> </b>
            <%= f.text_field :remote_image_url %>
          </p>
        </div>
      </div>
        <div class="actions">
          <%= f.submit "Add Theater", class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored"%><br><br>
        </div>
      </div>
    <% end %>
  </body>
</html>
