<head>
  <link rel="stylesheet" href="show-theater.css">
</head>

<div class="theater-header">
  <div class="theater-info">
    <h1><%=@theater.name%> </h1>
    <p><%=@theater.address%>, <%=@theater.city%>, <%=@theater.state%> <%=@theater.zip%></p>
  </div>

  <div class="theater-image">
    <%= image_tag "#{@theater.image_url(:thumb)}" %>
  </div>
</div>

<div class="theater-review-rating">
  <% @theater.reviews.each do |review| %>
    <% @rating_start += review.rating %>
  <% end %>
</div>

<div class="theater-rating">
  <% if @rating_start == 0 %>
    <h1>Be the first to review this theater!</h1>
  <% else %>
    <h1>RATING : <%= (@rating_start / @theater.reviews.count.to_f).round(1) %> / 5.0 </h1>
  <% end %>
</div>

<div class="theater-creator">
  <% if @creator == current_user || (current_user && current_user.admin?) %>
    <%= link_to "Edit", edit_theater_path(@theater) %> |
    <%= link_to "Remove #{@theater.name}", @theater, method: :delete%>
  <% end %>
</div>

  <p class="title">Reviews</p>
    <% @reviews.each do |review| %>
    <div class="theater-reviews">
      <p><%= review.user.first_name %></p>
      <% if review.user.avatar.url.present? %>
        <div class="container" style = "height:100px; width:100px">
            <%= image_tag(review.user.avatar.url)%>
        </div>
      <% end %>

      <div class="theater-review-votes">
        <ul>
          <li> <%= review.rating %>/5 </li>
          <%= link_to "upvote", review_votes_path(review, value: "upvote"), id: 'upvote', data: { theaterid: "#{@theater.id}", reviewid: "#{review.id}" } %>
          <%= link_to "downvote", review_votes_path(review, value: "downvote"), id: 'downvote', data: { theaterid: "#{@theater.id}", reviewid: "#{review.id}" } %>
          <li id="upvotes-<%= review.id %>">Upvotes: <%= review.upvotes %></li>
          <li id="downvotes-<%= review.id %>">Downvotes: <%= review.downvotes %></li>
        </ul>
      </div>

      <span>
        <%= review.body %>
      </span>

      <div class="theater-reviewer">
        <% if review.user == current_user %>
          <%= link_to 'Edit Review', edit_theater_review_path(@theater,review) %>
          <%= link_to 'Delete Review', theater_review_path(@theater,review), method: :delete%>
        <% end %>
      </div>
    </div>
    <% end %>

<div class="theater-rating-form">
  <%= render "reviews/review_form", theater: @theater, review: @review %>
  <div id='answer'></div>
</div>
