<h1><%=@theater.name%> </h1>
<p><%=@theater.address%>, <%=@theater.city%>, <%=@theater.state%> <%=@theater.zip%></p>

<%= link_to 'Edit', edit_theater_path(@theater) %> |
<%= link_to 'Delete Theater', @theater, method: :delete%>
<p>Reviews</p>
