<h1><%=@theater.name%> </h1>
<div class="image_placeholder"></div>
<%= image_tag "#{@theater.image_url(:thumb)}" %>
<p><%=@theater.address%>, <%=@theater.city%>, <%=@theater.state%> <%=@theater.zip%></p>

<% @theater.reviews.each do |review| %>
  <% @rating_start += review.rating %>
<% end %>

<% if @rating_start == 0 %>
  <h1>Be the first to review this theater!</h1>
<% else %>
  <h1>RATING : <%= (@rating_start / @theater.reviews.count.to_f).round(1) %> / 5.0 </h1>
<% end %>

<% if @creator == current_user || (current_user && current_user.admin?) %>
  <%= link_to "Edit", edit_theater_path(@theater) %> |
  <%= link_to "Remove #{@theater.name}", @theater, method: :delete%>
<% end %>

<p>Reviews</p>
  <% @reviews.each do |review| %>
    <p><%= review.user.first_name %></p>
    <% if review.user.avatar.url.present? %>
      <div class="profileLogo">
          <%= image_tag(review.user.avatar.url)%>
        </div>
    <% end %>
    <p><%= review.rating %>/5 </p>
    <%= link_to "upvote", review_votes_path(review, value: "upvote"), id: 'upvote', data: { theaterid: "#{@theater.id}", reviewid: "#{review.id}" } %>
    <%= link_to "downvote", review_votes_path(review, value: "downvote"), id: 'downvote', data: { theaterid: "#{@theater.id}", reviewid: "#{review.id}" } %>
    <p id="upvotes-<%= review.id %>">Upvotes: <%= review.upvotes %></p>
    <p id="downvotes-<%= review.id %>">Downvotes: <%= review.downvotes %></p>

    <p><%= review.body %> </p>

    <% if review.user == current_user %>
      <%= link_to 'Edit Review', edit_theater_review_path(@theater,review) %>
      <%= link_to 'Delete Review', theater_review_path(@theater,review), method: :delete%>
    <% end %>
<% end %>
<%= render "reviews/review_form", theater: @theater, review: @review %>
<div id='answer'></div>
