<h1><%=@theater.name%> </h1>
<p><%=@theater.address%>, <%=@theater.city%>, <%=@theater.state%> <%=@theater.zip%></p>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_theater_path(@theater) %> |
  <%= link_to 'Delete Theater', @theater, method: :delete%>
<% end %>

<p>Reviews</p>
  <% @reviews.each do |review| %>

  <p><%= review.user.first_name %></p>
  <p><%= review.body %> </p>

  <% if review.user == current_user %>
    <%= link_to 'Delete Review', theater_review_path(@theater,review), method: :delete%>
  <% end %>

<% end %>
<%= render 'review_form', theater: @theater, review: @review %>
