<!DOCTYPE html>
<html>
  <head>
    <title>GameOfCinema</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <nav>
      <%= link_to "All Theaters", theaters_path %>
      <% if current_user && current_user.admin? == true %>
        <%= link_to "All Users", admin_users_path %>
      <% end %>
      <%- if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <%= link_to "Add New Theater", new_theater_path %>
        <p><%= current_user.first_name %> </p>
        <%= link_to "User Profile", edit_user_registration_path %>
      <%- else -%>
        <%= link_to "Sign In", new_user_session_path %>
        <%= link_to "Sign Up", new_user_registration_path %>
        <%= link_to "Add New Theater", new_theater_path %>
      <%end%>
      <%= form_tag theaters_path, :method => "get", id: "search-from" do %>
        <p>
          <%= label_tag :search %>
          <%= text_field_tag :search, params[:search], placeholder: "search by: name, city, state, or zip", :required => true %>
          <%= submit_tag "Search", :name => nil %>
        </p>
      <% end %>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
